<!doctype html>
<html lang="en">
<head>
    {% block head %}
	<meta charset="utf-8" />
	<!-- <link rel="icon" type="image/png" href="../static/img/favicon.ico"> -->
  <meta name="description" content="InCAS (Integrated Copy number Annotation System) is a tool for the automated
  functional annotation of human Copy Number Variants using information about protein coding and protein non-coding
  genes and regulatory regions.">
  <meta name="author" content="Mauro Truglio">
  <link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../static/img/favicon-96x96.png" sizes="96x96">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta name="viewport" content="width=device-width" />
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="../static/css/landing-page.css" rel="stylesheet"/>
        <link href="../static/css/tips.css" rel="stylesheet"/>
        <script src="../static/js/jquery-1.12.4.js"></script>
        <script src="../static/js/jquery-ui.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <link href="../static/css/font-awesome.min.css" rel="stylesheet">
        <script src="../static/js/interact.min.js"></script>
        <script src="../static/js/json2csv.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script> -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Genoverse -->
        <!-- <script src="../static/angularjs-genoverse/dist/angularjs-genoverse.all.js"></script>
        <script src="../static/angularjs-genoverse/lib/Genoverse/js/genoverse.min.js"></script>
        <script src="../static/angularjs-genoverse/lib/Genoverse/js/Genoverse.js"></script>
        <script src="../static/angularjs-genoverse/lib/Genoverse/js/genomes/grch38.js"></script>
 -->
{#        <script src="http//d3js.org/d3.v3.min.js" charset="utf-8"></script>#}
      	<title>{% block title %}{% endblock %} - InCAS v2.0</title>
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121740015-1"></script>
    	<script>
    	  window.dataLayer = window.dataLayer || [];
    	  function gtag(){dataLayer.push(arguments);}
    	  gtag('js', new Date());

    	  gtag('config', 'UA-121740015-1');
    	</script>​
</head>

<body class="landing-page" style='background-color:aliceblue'>
{% block navbar %}
<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container" style="max-width:1165px !important;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <div>
           <div class="logo-container">
                    <!-- you logо img -->
                 <a href="https://incas.css-mendel.it"><img src="../static/img/incas_logo2.png" style="width: 280px;" /></a>
            </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="example" >
      <ul class="nav navbar-nav navbar-right">

        <li>
            <a href="https://incas.css-mendel.it">
                Home
            </a>
        </li>
        <li>
            <a href="#" class="disabled-link" title='Coming soon!'>
                Documentation
            </a>
        </li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Download
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Version 1</a></li>
            <li><a href="#">Version 2</a></li>
            <li><a href="#">Version 3</a></li>
          </ul>
        </li> -->
        <li>
            <a href="#" class="disabled-link" title='Coming soon!'>
                Tutorial
            </a>
        </li>

        <li>
            <a href="#">
                Contacts
            </a>
        </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


{% endblock %}

{% block content %}
{% endblock %}
<!-- <footer class="footer">
        <div class="container" style="min-width: 410px;">
          <div class="row hidden-xs visible-lg visible-md visible-sm" style="float:left; display:block !important; width:100%">
                <div class="col-sm-6 col-lg-6 col-md-6" style="width:fit-content; display:block !important">
                    <img src="../static/img/logocss.png" class="img-responsive" align="left" width="100" style="padding-top: 14px;">
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                    <address>
                        <strong>Laboratory of Bioinformatics</strong><br>
                        IRCCS Casa Sollievo della Sofferenza - Mendel<br>
                        Viale Regina Margherita, 261<br>
                        Rome, Italy 00198<br>
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><abbr title="Phone"> </abbr>
                        (+39) 06-44160515<br>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><abbr title="E-mail"> </abbr>
                        bioinformatics@css-mendel.it
                    </address>
                </div>
          </div>
        </div>
  </footer> -->
<script>
$(document).ready(function() {
  var download_div_ovl;
  var results_table;
  var panellist_div;
  var navbar_height;

  if( $('#download-div-ovl').height() == undefined ){
    download_div_ovl = 0;
    results_table = 0;
  }else{
    download_div_ovl = $('#download-div-ovl').height();
    results_table = $('#results-table').height();
  }

  if( $('#panellist-div').height() == undefined ){
    panellist_div = 0
    navbar_height = $('.navbar').height()+45
  }else{
    panellist_div = $('#panellist-div').height()
    navbar_height = 0

  }
  // console.log($(document).height()-(navbar_height)-$('#results-container').height()-(download_div_ovl)-$('.footer').height());
  // console.log("TOTAL HEIGHT: "+$(document).height())
  // console.log("NAVBAR: "+(navbar_height));
  // console.log("RESULTS CONTAINER: "+($('#results-container').height()+100))
  // console.log("RESULTS TABLE: "+results_table)
  // console.log("DOWNLOAD DIV OVL "+download_div_ovl)
  // console.log("FOOTER: "+$('.footer').height())
  $('.footer').css('margin-top',$(document).height()-(navbar_height)-($('#results-container').height()+230)-(results_table)-(download_div_ovl)-$('.footer').height());
  $('.section .section-gray .section-clients').css('height','fill-available');
});
</script>
<script src="../static/js/jquery.dataTables.min.js"></script>
<script src="../static/js/dataTables.bootstrap.min.js"></script>
</body></html>
