<!doctype html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}

<style>
  label{
    font-weight: normal!important;
    font-size:90%;
  }
  input[type="radio"]{
    margin: 3px 0 0;
  }
</style>

{% endblock %}

{% block title %}Results{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<body style="background-color: aliceblue;">
    <div class="parallax filter-gradient blue" data-color="blue" style="height:135px !important;">
        <div class="parallax-background">
            <img src="../static/img/dna2.png">
        </div>
    </div>
    <div class= "section section-gray section-clients" style="padding-top:10px;">
      <div class="results-container container" id="results-container">
          <div class=contacts>
            <h2 style="margin-left:30px; margin-bottom: 40px; color: #307ba0;">Contacts</h2>
                <div class="row" style="display:flex !important; width:100%; padding-right:50px; padding-left:50px">
                      <div class="col-sm-6 col-lg-6 col-md-6" style="width:fit-content; width:-moz-fit-content; display:block !important">
                          <img src="../static/img/logocss.png" class="img-responsive" align="left" width="100" style="padding-top: 14px;">
                      </div>
                      <div class="col-sm-6 col-lg-6 col-md-6">
                          <address style="font-size:13px">
                              <strong>Laboratory of Bioinformatics</strong><br>
                              <!--i class="glyphicon glyphicon-home"></i-->
                              IRCCS Casa Sollievo della Sofferenza - Mendel<br>
                              Viale Regina Margherita, 261<br>
                              Rome, Italy 00198<br>
                              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><abbr title="Phone"> </abbr>
                              (+39) 06-44160515<br>
                              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><abbr title="E-mail"> </abbr>
                              bioinformatics@css-mendel.it
                          </address>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-md-6" style="text-align: right; float:right">
                         <address style="font-size:13px">
                           <strong>Laboratory of Clinical Genomics</strong><br>
                           <!--i class="glyphicon glyphicon-home"></i-->
                           IRCCS Casa Sollievo della Sofferenza - Mendel<br>
                           Viale Regina Margherita, 261<br>
                           Rome, Italy 00198<br>
                           <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><abbr title="Phone"> </abbr>
                           (+39) 06-44160565<br>
                        </address>
                      </div>
                </div>
          </div>
      </div>
    </div>
  </body>


{% endblock %}
