<!doctype html>
<html lang="en">
<head>


	<meta charset="utf-8" />
	<!-- <link rel="icon" type="image/png" href="../static/img/favicon.ico"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>InCAS v.1.1 - Integrated Copy number Annotation System</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />
		<meta name="description" content="InCAS (Integrated Copy number Annotation System) is a tool for the automated
		functional annotation of human Copy Number Variants using information about protein coding and protein non-coding
		genes and regulatory regions.">
		<meta name="author" content="Mauro Truglio">
		<link rel="icon" type="image/png" href="../static/img/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="../static/img/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../static/img/favicon-96x96.png" sizes="96x96">
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="https://cdn.datatables.net/select/1.2.7/css/select.bootstrap.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.cookiebar.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link href="../static/css/tips.css" rel="stylesheet"/>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="../static/css/landing-page.css" rel="stylesheet"/>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="../static/js/SmoothScroll.js"></script>
		<script src="../static/js/bootstrap.js" type="text/javascript"></script>
		<script type="text/javascript" src="../static/js/js.cookie.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookiebar.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>


		<script type="text/javascript">
        $(document).ready(function () {
            $.cookieBar();
            $('#footer_id').load("footer.html");
        });
    </script>

		<script>
		  function cleanform(dirtyform){
				if (dirtyform == 'annot'){
						var cbarray = document.getElementsByName('annot');
						for(var i = 0; i < cbarray.length; i++){
							cbarray[i].checked = false;
						}
						var cbarray = document.getElementsByName('genes');
						for(var i = 0; i < cbarray.length; i++){
							cbarray[i].checked = false;
						}
						// document.getElementById('hidden_overlapradio').checked = true;
						// document.getElementById('hidden_annotradio').checked = false;
						// document.getElementById('hidden_tadradio').checked = false;



				}else if (dirtyform == 'overlap') {
					document.getElementById( 'file-upload-filename' ).textContent = '';
					document.getElementById('radio_intraset').checked = true;
					document.getElementById('radio_interset').checked = false;
					document.getElementById('overlapselect').selectedIndex = 0;
					document.getElementById('overlapselect').disabled = true;

					// document.getElementById('hidden_annotradio').checked = true;
					// document.getElementById('hidden_overlapradio').checked = false;
					// document.getElementById('hidden_tadradio').checked = false;


				}else if (dirtyform == 'tad') {
					var cbarray = document.getElementsByName('tad-tissue');
					for(var i = 0; i < cbarray.length; i++){
						cbarray[i].checked = false;
					}
					// document.getElementById('hidden_tadradio').checked = true;
					// document.getElementById('hidden_overlapradio').checked = false;


				}
			}

			function switch_hiddenradio(choice){
				if (choice == 'annot'){
					document.getElementById('hidden_annotradio').checked = true;
					document.getElementById('hidden_overlapradio').checked = false;
					document.getElementById('hidden_tadradio').checked = false;
				}else if (choice == 'overlap') {
					document.getElementById('hidden_annotradio').checked = false;
					document.getElementById('hidden_overlapradio').checked = true;
					document.getElementById('hidden_tadradio').checked = false;
				}else if (choice == 'tad') {
					document.getElementById('hidden_annotradio').checked = false;
					document.getElementById('hidden_overlapradio').checked = false;
					document.getElementById('hidden_tadradio').checked = true;
				}
			};


		</script>

		<script>
				$(document).ready(function(){
				// Add smooth scrolling to all links
						$("#radio-hg18").on('click', function(event){
								alert("The coordinates of your CNV(s) will be converted from hg18 to hg19.");
						});
						$("#radio-hg38").on('click', function(event){
								alert("The coordinates of your CNV(s) will be converted from hg38 to hg19.");
						});
				});
		</script>

		<script>
				$(document).ready(function(){
		// Add smooth scrolling to all links
		$("a").on('click', function(event) {

		// Make sure this.hash has a value before overriding default behavior
		if (this.hash !== "") {
		// Prevent default anchor click behavior
		event.preventDefault();

		// Store hash
		var hash = this.hash;

		// Using jQuery's animate() method to add smooth page scroll
		// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
		$('html, body').animate({
			scrollTop: $(hash).offset().top
		}, 800, function(){

			// Add hash (#) to URL when done scrolling (default click behavior)
			window.location.hash = hash;
		});
		} // End if
		});
		});
</script>

	<script type="text/javascript">
		onload=function(){document.forms['mainform'].reset()}
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121740015-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-121740015-1');
	</script>​


</head>

<body class="landing-page">

<nav class="navbar navbar-transparent navbar-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
      <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      <div>
           <div class="logo-container">
                    <!-- you logо img -->
								<a href="http://incas.css-mendel.it"><img src="../static/img/incas_logo2.png" style="width: 280px;" /></a>
            </div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="example" >
      <ul class="nav navbar-nav navbar-right">

              <li>
                  <a href="http://incas.css-mendel.it">
                      Home
                  </a>
              </li>
              <li>
                  <a href="#">
                      Documentation
                  </a>
              </li>
							<!-- <li class="dropdown">
				        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Download
				        <span class="caret"></span></a>
				        <ul class="dropdown-menu">
				          <li><a href="#">Version 1</a></li>
				          <li><a href="#">Version 2</a></li>
				          <li><a href="#">Version 3</a></li>
				        </ul>
				      </li> -->
              <li>
                  <a href="#">
                      Tutorial
                  </a>
              </li>

							<li>
									<a href="#">
											Contacts
									</a>
							</li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img src="../static/img/dna2.png">
        </div>
        <div class= "container">
            <div class="row">
                <!-- <div class="col-sm-5 hidden-xs">
                    <div class="parallax-image">
                        <img src="img/landing-page-1/iphone.png"/>
                    </div>
                </div> -->
                <div class="col-sm-6 col-xs-offset-1" style="width:100%; margin-left:0px">
                    <div class="description">
                        <h2>Welcome to InCAS</h2>
                        <br>
                        <h5><b>InCAS</b> (<b>In</b>tegrated <b>C</b>opy number <b>A</b>nnotation <b>S</b>ystem) is a tool for the automated functional annotation of human Copy
														Number Variants using information about protein coding and protein non-coding
														genes and regulatory regions.</h5>
                    </div>
                    <div class="buttons">
                        <a href="#">
                            <button class="btn btn-neutral btn-lg">
                                <i class="fa fa-lg"></i> Learn more
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-gray section-clients">
        <div class="container" style="padding-bottom: 40px;padding-top: 30px;">
						<div class="alert alert-warning" role="alert">
							Warning: This is a beta version of the InCAS website, which is still undergoing final testing
							before its official release; therefore, small bugs or lack of functionality may be encountered.
					</div>
					<form id="mainform" class="needs-validation" action="/" name="mainform" method="post"
					enctype="multipart/form-data" onsubmit="return checkBoxes();">
						{{ form.csrf_token }}

						<div class="radio">
						  <label><input id="hidden_annotradio" type="radio" name="annotradio"
								onclick="switch_hiddenradio('annot')" checked>Annot</label>
						</div>
						<div class="radio">
						  <label><input type="radio" class="hidden_overlapradio" id="hidden_overlapradio" name="ovlradio"
								onclick="switch_hiddenradio('overlap')">Overlap</label>
						</div>
						<div class="radio">
							<label><input type="radio" class="hidden_tadradio" id="hidden_tadradio" name="tadradio"
								onclick="switch_hiddenradio('tad')">Tad</label>
						</div>

					<div class="row">
						<div class="col-md-6 col-sm-6" style="width:42%">
							<div class="row">
									<div id="input-panel" class="panel panel-info" style="min-width: 295px; border-radius: 10px;">
					          <div class="panel-heading input-panel-heading"
											style="font-size: 125%; font-weight: bold; color: #ffffff; background-color: #307ba0; border-top-left-radius:9px; border-top-right-radius: 10px; border-color: #307ba0">Input</div>
					          	<div class="panel-body">
													<div class="radio">
														<label style="margin-top: 25px;">
													  <input id="radio1" name="radio1" onclick="document.getElementById('line_input').disabled = false;
														document.getElementById('radio2').checked = false;
														document.getElementById('upload').disabled = true;"
														type="radio" checked="checked"> Single CNV annotation
													  </label>
													</div>
													<div style="margin-left:20px">
											    	{{ form.line_input.label }}:{{ form.line_input(placeholder='E.g.: chr1:12345-23456', required=True, pattern='chr[\dXYM]+:\d+-\d+$') }}
													</div>
													<div class="radio">
														<label style="margin-top: 35px;">
													  <input id="radio2" name="radio2" onclick="document.getElementById('line_input').disabled = true;
														document.getElementById('radio1').checked = false;
														document.getElementById('upload').disabled = false;"
														type="radio"> Multiple CNV annotation from file
													  </label>
													</div>
													<div id="fileupload" style="margin-left:20px;">
															{{ form.upload.label }}: {{ form.upload(disabled=True, required=True) }}
													</div>

													<br>
													<!-- <input type="submit" value="SUBMIT" class="submit-button"> -->

											</div>
										</div>
										<div id="hg-panel" class="panel panel-info" style="min-width: 295px; border-radius: 10px;">
											<div class="panel-heading reference-panel-heading"
												style="font-size: 125%; font-weight: bold; color: #ffffff; background-color: #307ba0; border-top-left-radius:9px; border-top-right-radius: 10px; border-color: #307ba0">Input Reference Genome</div>
												<div class="panel-body" style="text-align: center;height:fit-content">
														<div class="radio-inline">
							                <label>
							                <input type="radio" class="form-check-input" name="radio-hg18" id="radio-hg18"
															value="hg18" unchecked
															onclick="document.getElementById('radio-hg19').checked = false;
															document.getElementById('radio-hg38').checked = false;">
															<span id="span-hg18">hg18</span>
							                </label>
							              </div>
														<div class="radio-inline">
							                <label>
							                <input type="radio" class="form-check-input" name="radio-hg19" id="radio-hg19"
															value="hg19" checked
															onclick="document.getElementById('radio-hg18').checked = false;
															document.getElementById('radio-hg38').checked = false;">
															<span id="span-hg19">hg19</span>
							                </label>
							              </div>
														<div class="radio-inline">
							                <label>
							                <input type="radio" class="form-check-input" name="radio-hg38" id="radio-hg38"
															value="hg38" unchecked
															onclick="document.getElementById('radio-hg18').checked = false;
															document.getElementById('radio-hg19').checked = false;">
															<span id="span-hg38">hg38</span>
							                </label>
							              </div>
												</div>
											</div>
								</div>

						</div>


						<div class="col-md-6 col-sm-6" style="width:58%" id="annot-panel-container">
								<ul id="tab-menu" class="nav nav-tabs pull-left">
								  <li class="active"><a data-toggle="tab" href="#annot-panel" onclick="cleanform('overlap');cleanform('tad');switch_hiddenradio('annot')" style="border-top-left-radius: 9px;">Annotation</a></li>
									<li><a data-toggle="tab" href="#tad-panel" onclick="cleanform('annot');cleanform('overlap');switch_hiddenradio('tad')">TAD</a></li>
									<li><a data-toggle="tab" href="#overlap-panel" onclick="cleanform('annot');cleanform('tad');switch_hiddenradio('overlap')">Overlapping</a></li>

								</ul>

								<div class="clearfix annotation-panel-heading"></div>
								<div class="tab-content">

										<div id="annot-panel" class="panel panel-info tab-pane fade in active">
											<!-- <div class="panel-heading annotation-panel-heading"
												style="font-size: 125%; font-weight: bold; color: #ffffff; background-color: #307ba0; border-top-left-radius:9px; border-top-right-radius: 8px; border-color: #307ba0">
												Annotation</div> -->
												<div class="panel-body">
													<div class="row">
														<div style="padding-top: 10px; padding-left:15px">
																<span style="color: #006da0; font-weight:bold">Window (bp): </span>{{ form.window(size=6, required=True, pattern='\d+') }}
														</div>
													</div>
														<div class="row" style="padding-top:15px">
															<div id="bed-checklist" class="col-sm-6 ann-checkbox-group required" style="width:50%; padding-right: 0px;">
																<label>Track</label>
																<ul id="annot">
																	{% for elem in form.annot %}
																		<li id="{{elem.id}}-li">
																			{{elem()}}
																			{{elem.label}}

																		</li>
																	{% endfor %}

																</ul>

																<!-- {{ form.annot }} -->
															</div>
															<div id="genelist-checklist" class="col-sm-6 genes-checkbox-group" style="width:50%; padding-left:0px">
																<label>Gene Lists</label>
																{{ form.genes(required=True) }}
															</div>
														</div>
												</div>
											</div>


										<div id="overlap-panel" class="panel panel-info tab-pane fade">
											<div class="panel-body">
												<div class="row">
													<div id="overlap_mode" class="col-sm-6 ovl-checkbox-group required" style="width:55%; padding-right: 0px; padding-left:0px">
														<div id="first-subpanel">

																		<div class="radio" style="margin-top:15px">
																			<label>
																			<input id="radio_intraset" name="radio_intraset" type="radio"
																			onclick="document.getElementById('radio_interset').checked = false;
																			document.getElementById('overlapselect').disabled = true;" checked="checked"> Intra-set
																			</label>
																			<div class="help-tip" style="background-color: #ffd400">
																				<p>
																			</p>
																			</div>
																		</div>

																		<div class="radio">
																			<label style="margin-top: 10px;">
																			<input id="radio_interset" name="radio_interset" type="radio"
																			onclick="document.getElementById('radio_intraset').checked = false;
																			document.getElementById('overlapselect').disabled = false;"> Inter-set
																			</label>
																			<div class="help-tip" style="background-color: #ffd400">
																				<p>
																			</p>
																			</div>
																		</div>

																		<select id="overlapselect" name="overlapselect" style="margin-left:20px;" disabled>
																			<option selected="true" value="-1" disabled>Choose Target</option>
																			<option value="DGV_overlap">DGV</option>
																			<option value="FILE">File</option>
																		</select>
																		<div id="file-upload-filename" name="file_upload_filename"></div>
																		<span class="hiddenFileInput">
																			{{ form.overlap_upload(disabled=False, required=False) }}
																				  <!-- <input type="file" id="my_file" name="my_file"/> -->
																		</span>

													</div>

															<div id="second-subpanel" style="margin-top:10px;">
																		<div class="radio" style="margin-top:15px">
																			<label>
																					<input id="radio_reciprocal" name="radio_reciprocal"
																						onclick="document.getElementById('radio_spanning').checked = false;
																						document.getElementById('padding').disabled = false;
																						document.getElementById('min_ovl_rec').disabled = false;
																						document.getElementById('min_ovl_span').disabled = true;
																						document.getElementById('max_span').disabled = true;"
																						type="radio" checked="checked"> Reciprocal Overlap

																			</label>
																			<div class="help-tip" style="background-color: #ffd400">
																				<p>
																			</p>
																			</div>
																		</div>
																		<div style="margin-right:20px; text-align: right;">
																			{{ form.padding.label }}{{ form.padding(placeholder='0', required=True, size=6, pattern='\d+') }}
																			{{ form.min_ovl_rec.label }}{{ form.min_ovl_rec(placeholder='50', required=True, size=6, pattern='\d+') }}
																		</div>

																		<div class="radio" style="margin-top:15px">
																			<label>
																					<input id="radio_spanning" name="radio_spanning"
																						onclick="document.getElementById('radio_reciprocal').checked = false;
																						document.getElementById('padding').disabled = true;
																						document.getElementById('min_ovl_rec').disabled = true;
																						document.getElementById('min_ovl_span').disabled = false;
																						document.getElementById('max_span').disabled = false;"
																						type="radio"> Spanning Overlap

																			</label>
																			<div class="help-tip" style="background-color: #ffd400">
																				<p>
																			</p>
																			</div>
																		</div>
																		<div style="margin-right:20px; text-align: right;">
																			{{ form.min_ovl_span.label }}{{ form.min_ovl_span(placeholder='50', required=True, disabled=True, size=6, pattern='\d+') }}
																			{{ form.max_span.label }}{{ form.max_span(placeholder='100000', required=True, size=6, disabled=True, pattern='\d+') }}

																		</div>

																		<script type="text/javascript">
																				$("#radio_interset").click(function() {
																				    $("#overlapselect").attr("disabled", false);
																				});

																				$("#radio_intraset").click(function() {
																				    $("#overlapselect").attr("disabled", true);
																				});

																				$('#overlapselect').change(function() {
																				    var val = $("#overlapselect option:selected").text();
																						if(val == "File"){
																							$('#overlap_upload').click();
																							document.getElementById('radio_reciprocal').disabled = false;

																						}else if (val == "DGV") {
																							document.getElementById( 'file-upload-filename' ).textContent = '';
																							document.getElementById('radio_spanning').checked = true;
																							document.getElementById('radio_reciprocal').checked = false;
																							document.getElementById('radio_reciprocal').disabled = true;
																							document.getElementById('padding').disabled = true;
																							document.getElementById('min_ovl_rec').disabled = true;
																							document.getElementById('min_ovl_span').disabled = false;
																							document.getElementById('max_span').disabled = false;





																						}else {
																							document.getElementById( 'file-upload-filename' ).textContent = '';
																							document.getElementById('radio_reciprocal').disabled = false;

																						}
																				});
																				//
																				$('#overlap_upload').change(function() {
																					var fileName = document.getElementById('overlap_upload').files[0].name;
																					console.log(fileName)
																					document.getElementById( 'file-upload-filename' ).textContent = '...'+fileName.slice(-15);

																				});
																		</script>
															</div>

													</div>
												</div>
											</div>

										</div>

										<div id="tad-panel" class="panel panel-info tab-pane fade">
											<!-- <div class="panel-heading annotation-panel-heading"
												style="font-size: 125%; font-weight: bold; color: #ffffff; background-color: #307ba0; border-top-left-radius:9px; border-top-right-radius: 8px; border-color: #307ba0">
												Annotation</div> -->
												<div class="panel-body">
													<div class="row">
														<div style="padding-top: 10px; padding-left:15px; padding-right:15px">
																<span style="color: #006da0; font-weight:bold">Window (bp): </span>{{ form.window_tad(size=6, required=True, pattern='\d+') }}
														</div>
													</div>
														<div class="row" style="padding-top:25px; padding-right: 20px;">
															<div id="tad-checklist" class="tad-checkbox-group col-sm-6 required" style="width:100%;height:280px;overflow:auto;">
																<table id="tads" class="table table-striped table-bordered" style="width:100%;">
																        <thead>
																            <tr>
																                <th class='fit' style="padding-top: 4px; padding-bottom: 4px;">Tissue</th>
																                <th class='fit' style="padding-top: 4px; padding-bottom: 4px;">Description</th>
																            </tr>
																        </thead>
																        <tbody id="tad_table_body">
																				</tbody>
																</table>
														</div>
												</div>
											</div>

								</div>

						</div>
					</div>
					<div style="text-align: center;" id="submit-field">
						<input type="submit" value="SUBMIT" class="submit-button">
					</div>
			</form>
			<script>
				function checkBoxes(){
						var annot_chosen = document.getElementById( 'hidden_annotradio').checked
						var overlap_chosen = document.getElementById( 'hidden_overlapradio').checked
						var tad_chosen = document.getElementById( 'hidden_tadradio').checked

						if($('div.ann-checkbox-group.required :checkbox:checked').length<=0 && annot_chosen) {
							alert("Please select the annotation(s) in the right panel.");
							return false;
						}

						var interset_choice = document.getElementById('overlapselect').value
						if(interset_choice == "-1" && overlap_chosen && document.getElementById( 'radio_interset').checked){
							alert("Please select a DB/CNVfile to compute overlap against.");
							return false;
						}

						if(document.getElementById( 'file-upload-filename' ).textContent == "" && document.getElementById( 'radio_interset').checked && $("#overlapselect option:selected").text() == 'File'){
							alert("Please select an existing file to compute overlap against.");
							return false;
						}

						if($('div.tad-checkbox-group.required :checkbox:checked').length<=0 && tad_chosen) {
							alert("Please select at least a tissue for TAD annotation in the right panel.");
							return false;
						// } else if($('div.tad-checkbox-group.required :checkbox:checked').length>0 && tad_chosen) {
						// 		for(i = 0; i < $('div.tad-checkbox-group.required :checkbox:checked').length; i++){
						// 			console.log($('div.tad-checkbox-group.required :checkbox:checked')[i].value)
						// 		}
						//
						// 		return false;
						}


				};
			</script>


			<script>
					function enable(boxID) {
					  	 document.getElementById(boxID).disabled= false;
					}

					function disable(boxID) {
							 console.log("HERE")
					     document.getElementById(boxID).disabled= true;
					}

					jQuery('ul#genes input').attr({'disabled':'disabled'})

					$('#annot-3').click(function(){
					    if($(this).is(':checked')){
					        jQuery('ul#genes input').removeAttr('disabled');
					    } else {
									jQuery('ul#genes input').attr({'disabled':'disabled'});
					    }
					});

					$('#annot-3').mouseover(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#d6ffd0";
									target_list.style.background="#d6ffd0";
					});

					$("#annot-3-li").mouseover(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#d6ffd0";
									target_list.style.background="#d6ffd0";
					});

					$("#genes").mouseover(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#d6ffd0";
									target_list.style.background="#d6ffd0";
					});

					$('#annot-3').mouseout(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#ffffff";
									target_list.style.background="#ffffff";
					});

					$('#annot-3-li').mouseout(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#ffffff";
									target_list.style.background="#ffffff";
					});

					$('#genes').mouseout(function(){
					// var test = document.getElementById("annot-1");
									var target_list = document.getElementById("genes");
									var target_self = document.getElementById("annot-3-li")
									// target_self.label="#fff2b3";
									target_self.style.background="#ffffff";
									target_list.style.background="#ffffff";
					});



					$('#annot-0').click(function(){
							if($(this).is(':checked')){
									jQuery('ul#genes input').removeAttr('disabled');
							} else {
									jQuery('ul#genes input').attr({'disabled':'disabled'});
							}
					});

					//This governs the All bedlists checkbox
					$('#annot-0:checkbox').change(function ()  {
							console.log("Changed!")
							var boxes = document.getElementsByName("annot");
							for (var i = 1, length = boxes.length; i < length; i++){
								console.log(boxes[i].id)
								boxes[i].checked = boxes[0].checked;
							}
					});

					$('.ann-checkbox-group input[type=checkbox]').change(function() { // while you're at it listen for change rather than click, this is in case something else modifies the checkbox
								var boxes = document.getElementsByName("annot");
								for (var i = 1, length = boxes.length; i < length; i++){
									if (boxes[i].checked == false){
										boxes[0].checked = false;
									}
								}
					});


					//This governs the All genelists checkbox
					$('#genes-0:checkbox').change(function ()  {
							console.log("Changed!")
							var boxes = document.getElementsByName("genes");
							for (var i = 1, length = boxes.length; i < length; i++){
								console.log(boxes[i].id)
								boxes[i].checked = boxes[0].checked;
							}
							// if($(this).attr("checked")) $('input:checkbox').attr('checked','checked');
							// else $('input:checkbox').removeAttr('checked');
					});

					$('.genes-checkbox-group input[type=checkbox]').change(function() { // while you're at it listen for change rather than click, this is in case something else modifies the checkbox
								var boxes = document.getElementsByName("genes");
								for (var i = 1, length = boxes.length; i < length; i++){
									if (boxes[i].checked == false){
										boxes[0].checked = false;
									}
								}
					});


			</script>

      </div>
    </div>

    <footer class="footer">
            <div class="container" style="min-width: 410px;">
							<div class="row hidden-xs visible-lg visible-md visible-sm" style="float:left; display:block !important; width:100%">
										<div class="col-sm-6 col-lg-6 col-md-6" style="width:fit-content; display:block !important">
												<img src="../static/img/logocss.png" class="img-responsive" align="left" width="100" style="padding-top: 14px;">
										</div>
								    <div class="col-sm-6 col-lg-6 col-md-6">
								        <address>
								            <strong>Laboratory of Bioinformatics</strong><br>
								            <!--i class="glyphicon glyphicon-home"></i-->
								            IRCCS Casa Sollievo della Sofferenza - Mendel<br>
								            Viale Regina Margherita, 261<br>
								            Rome, Italy 00198<br>
								            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><abbr title="Phone"> </abbr>
								            (+39) 06-44160515<br>
								            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><abbr title="E-mail"> </abbr>
								            bioinformatics@css-mendel.it
								        </address>
								    </div>
							</div>

                <!-- <nav class="pull-left copyright">
                    &copy; 2018 <a href="http://www.css-mendel.it/">IRCCS Casa Sollievo della Sofferenza - Mendel</a>
                </nav> -->
                <!-- <div class="social-area pull-right">
                        <a href="https://github.com/elkindnet" class="btn btn-social btn-simple"><i class="fa fa-github-alt fa-fw"></i> <span class="network-name"></span></a>
                        <a href="https://twitter.com/jenyelkind" class="btn btn-social btn-simple"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                        <a href="https://www.facebook.com/jenyelkind" class="btn btn-social btn-simple"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                        <a href="mailto:elkind@elkind.net" class="btn btn-social btn-simple"><i class="fa fa-envelope fa-fw"></i> <span class="network-name"></span></a>
                        <a href="https://plus.google.com/+JenyElkind/" class="btn btn-social btn-simple"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name"></span></a>
                </div> -->
            </div>

        </footer>

</body>


<script type="text/javascript">
        var big_image;
        $().ready(function(){

            responsive = $(window).width();

            if (responsive >= 768){
                big_image = $('.parallax-background').find('img');
                $(window).on('scroll',function(){
                    parallax();
                });
            }

            $('.selector').click(function() {
                SelectColor(this);
            });
        });

        function SelectColor(btn) {
            oldColor = $('.filter-gradient').attr('data-color');
            newColor = $(btn).attr('data-color');

            oldButton = $('#Demo').attr('data-button');
            newButton = $(btn).attr('data-button');

            $('.filter-gradient').removeClass(oldColor).addClass(newColor).attr('data-color',newColor);

            $('#Demo').removeClass("btn-"+oldButton).addClass("btn-"+newButton).attr('data-button',newButton);

            $('.carousel-indicators').removeClass("carousel-indicators-"+oldColor).addClass("carousel-indicators-"+newColor);

            $('.card').removeClass("card-"+oldColor).addClass("card-"+newColor);

            $('.selector').parent().removeClass('active');
            $(btn).parent().addClass('active');
        }

       var parallax = function() {
            var current_scroll = $(this).scrollTop();

            oVal = ($(window).scrollTop() / 3);
            big_image.css('top',oVal);
        };
</script>

<!-- <script>
		$(document).ready(function() {
			$('#tads').DataTable( {
					// select: true,
					paging: false,
					orderable: false
			} );
		} );
</script> -->


<script>

		function get_descriptions(){
				var table = '';
				var count = 0;
				for(elem in {{tissue_descr|safe}}){
					table += "<tr><td class='fit'><label><input type='checkbox' class='tad-checkbox' name='tad-tissue' id='tad-"+count+"' value='"+elem+"'/>"+elem+"</label></td><td class='fit'>"+{{tissue_descr|safe}}[elem]+"</td></tr>";
					count +=1;
				}
				document.getElementById("tad_table_body").innerHTML += table;

		}

		get_descriptions();

		$('#tad-0:checkbox').change(function ()  {
				console.log("Changed!")
				var boxes = document.getElementsByName("tad-tissue");
				for (var i = 1, length = boxes.length; i < length; i++){
					console.log(boxes[i].value)
					boxes[i].checked = boxes[0].checked;
				}
		});

		$('.tad-checkbox-group input[type=checkbox]').change(function() { // while you're at it listen for change rather than click, this is in case something else modifies the checkbox
					var boxes = document.getElementsByName("tad-tissue");
					for (var i = 1, length = boxes.length; i < length; i++){
						if (boxes[i].checked == false){
							boxes[0].checked = false;
						}
					}
		});


</script>
<!--
Google Analitics
Demo Purpose Only
Change UA-XXXXXXX-X to be your site's ID
 -->



</html>
