<!doctype html>
{% extends 'base.html' %}
{% block title %}Working...{% endblock %}
{% block head %}
{{ super() }}
<script>
  $(document).ready(function() {
    var refresh_id = setInterval(function() {
        $.get(
          "{{ url_for('thread_status') }}",
          function(data) {
            console.log(data);
            if (data.status == 'finished') {
              window.location.replace("{{ url_for('results') }}");
            }else{
              document.getElementById("progress").innerHTML = ''
              for (var i = 0, length = data.status.length; i < length; i++){
                document.getElementById("progress").innerHTML += "Calculating "+data.status[i].replace('_',' ')+"...<br />"
              }
            }
          }
        )}
      , 100);
  });
</script>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="parallax filter-gradient blue" data-color="blue" style="height:100px !important;">
    <div class="parallax-background">
        <img src="../static/img/dna2.png">
    </div>
</div>
<div class="section section-gray section-clients" style="height: -webkit-fill-available;">
  <div class= "container">
    <div class="row">
      <div class="col-md-5 col-md-offset-5">
      <div id="progress">
        Working...
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
