<!doctype html>
{% extends 'base.html' %}
{% block title %}Working...{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    var refresh_id = setInterval(function() {
        $.get(
          "{{ url_for('thread_status') }}",
          function(data) {
            console.log(data);
            if (data.status == 'finished') {
              window.location.replace("{{ url_for('results') }}");
            }
          }
        )}
      , 1000);
  });
</script>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="parallax filter-gradient blue" data-color="blue" style="height:100px !important;">
    <div class="parallax-background">
        <img src="../static/img/dna2.png">
    </div>
</div>
<div class= "section section-gray section-clients">
  <p>
    Working.....
  </p>
</div>
{% endblock %}
